<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>Tecnologías Chapinas</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="bar">
                <a href="#" class="logo">
                    <h1 class="logo__name no-margin center-text">T<span class="logo__bold">C</span></h1>
                </a>
                <nav class="navigation">
                    <a href="#profile" class="navigation__link">Perfiles</a>
                    <a href="#messages" class="navigation__link">Mensajes</a>
                    <a href="#service1" class="navigation__link">Servicio 1</a>
                    <a href="#service2" class="navigation__link">Servicio 2</a>
                    <a href="#service3" class="navigation__link">Servicio 3</a>
                    <a href="#help" class="navigation__link icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="12" y1="17" x2="12" y2="17.01" />
                            <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <div id="profile">
        <div class="container title">
            <h1 class="center-text">Perfiles</h1>
        </div>
        <div class="container containerUpload">
            <input type="file" name="file" id="file" class="inputfile inputfile-2" data-multiple-caption="{count} archivos seleccionados" multiple />
            <label for="file" class="center-text">
                <span class="iborrainputfile">Cargar Pefiles</span>
            </label>
        </div>
        <div class="container columns">
            <textarea name="input1" class="input" disabled="true">Input:</textarea>
            <textarea name="input1" class="input" disabled="true">Output:</textarea>
        </div>
    </div>
    <div id="messages">
        <div class="container title">
            <h1 class="center-text">Mensajes</h1>
        </div>
        <div class="container containerUpload">
            <input type="file" name="file" id="file" class="inputfile inputfile-2" data-multiple-caption="{count} archivos seleccionados" multiple />
            <label for="file" class="center-text">
                <span class="iborrainputfile">Cargar Mensajes</span>
            </label>
        </div>
        <div class="container columns">
            <textarea name="input2" class="input" disabled="true">Input:</textarea>
            <textarea name="input2" class="input" disabled="true">Output:</textarea>
        </div>
    </div>
    <div id="service1">
        <div class="container title">
            <h1 class="center-text">Servicio 1</h1>
        </div>
        <div class="container containerUpload">
            <select name="machine" id="selectDate1" class="selectDate">
                <option selected="selected" disabled="">Seleccione una Fecha</option>
                <option>24/04/2023</option>
                <option>04/02/2022</option>
            </select>
            <select name="machine" id="selectUser1" class="selectDate">
                <option selected="selected" disabled="">Seleccione un Usuario</option>
                <option>Todos los Usuarios</option>
                <option>map001</option>
                <option>pako1002</option>
            </select>
            <button type="button" class="button1">Ver Detalles</button>
            <button type="button" class="download">
                <img src="donwload.svg" alt="download">
            </button>
        </div>
        <div class="container grafo"></div>
    </div>
    <div id="service2">
        <div class="container title">
            <h1 class="center-text">Servicio 2</h1>
        </div>
        <div class="container containerUpload">
            <select name="machine" id="selectUser1" class="selectDate">
                <option selected="selected" disabled="">Seleccione un Usuario</option>
                <option>Todos los Usuarios</option>
                <option>map001</option>
                <option>pako1002</option>
            </select>
            <button type="button" class="button1">Ver Resumen</button>
            <button type="button" class="download">
                <img src="donwload.svg" alt="download">
            </button>
        </div>
        <div class="container grafo"></div>
    </div>
    <div id="service3">
        <div class="container title">
            <h1 class="center-text">Servicio 3</h1>
        </div>
        <div class="container containerUpload">
            <input type="file" name="file" id="file" class="inputfile inputfile-2" data-multiple-caption="{count} archivos seleccionados" multiple />
            <label for="file" class="center-text">
                <span class="iborrainputfile">Cargar Mensajes</span>
            </label>
        </div>
        <div class="container columns">
            <textarea name="input2" class="input" disabled="true">Input:</textarea>
            <textarea name="input2" class="input" disabled="true">Output:</textarea>
        </div>
    </div>
    <!-- Sección de Ayuda -->
    <div class="container">
        <div id="help" class="modalmask">
            <form action="" autocomplete="off">
                <div class="modalbox movedown">
                    <a href="#close" title="Close" class="close">&times;</a>
                    <h2 class="center-text">IPC2 - PROYECTO 3</h2>
                    <h4 class="center-text">Brandon Andy Jefferson Tejaxún Pichiyá - 202112030</h4>
                    <button type="button" class="button1 doc">Documentación</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>